* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

body {
    width: 100%;
    height: 100%;
}

header {
    background-color: rgb(107, 3, 21);
    width: 100%;
}

.nav-content {
    padding: 15px;
    text-align: center;
}

.nav-links {
    font-size: 20px;
    padding: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.top-image {
    background-image: url("/img/topimg.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
}

h1 {
    color: rgb(13, 97, 136);
    font-size: 60px;
    padding-top: 3%;
    padding-left: 5%;
}

h2 {
    font-size: 40px;
    padding-top: 1%;
    padding-left: 19%;
    color: rgb(13, 97, 136);
}

.mid-note {
    background-color: rgb(252, 184, 94);
    height: 50px;
    text-align: center;
    padding-top: 13px;
}

#mid-line {
    font-size: 25px;
    color: rgb(201, 5, 5);
    font-weight: bold;
}

.img-container {
    width: 100%;
    background-color: rgb(247, 226, 198);
    padding-bottom: 5%;
}

.img-item-container {
    display: flex;
    padding-top: 3%;
    padding-left: 15%;

}

.img-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.travel-img{
    width: 60%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.img-text {
    background-color: aliceblue;
    width: 60%;
    height: 35px;
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
    border-radius: 0 0 10px 10px ;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
    text-decoration: none;
    color: black;
}
.trip-container{
    width: 100%;
    background-color: rgba(248, 230, 213, 0.836);
    display: flex;
    flex-direction: row;
    gap: 7%;
    justify-content: center;
}
.trip-item{
    width: 40%;
    /* height: 500px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;

}
.trip-image-container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    margin-top: 8%;
    padding-bottom: 0;
}
.trip-image{
    width: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.trip-heading{
    color: rgb(13, 97, 136);
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aliceblue;
}
.trip-paragraph{
    color: rgb(2, 34, 61);
    background-color: aliceblue;
    padding: 10px;
    border-radius: 0 0 10px 10px ;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#trip-container-bottom{
    padding-bottom: 3%;
}
.about-container{
    width: 70%;
    height: 10%;
    display: flex;
    margin: auto; 
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px ;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-para{
    width: 70%;
    height: 10%;
    display: flex;
    margin: auto; 
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px ;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer-container{
    background-color: rgb(36, 36, 36);
    color: aliceblue;
    display: flex;
    gap:20%;
    /* margin-top:2%; */
    padding: 1%;
}